<%= render 'shared/header' %>

<div class="container">
    <div class="breadcrumbs "> <a href="/">Главная</a> / <span>Новости</span></div>
</div>

<div class="content_news">
    <div class="container">
        <h1><%= @article.title %></h1>
        <p><%= simple_format @article.text %></p>
    </div>
</div>

<%= render 'shared/footer' %>
<%= render 'shared/login_popup' %>
<script type="text/javascript">
    $(document).ready(function() {
        $('#coin-slider').coinslider({
            width: 800,
            height: 520,
            navigation: true,
            delay: 5000
        });
    });
</script>