   <header class=" home">



        <div class="middle">
            <div class="container">

                <div class="logo">
                    <a href="/"><img src="/images/logo2.png"></a>
                </div>


                <nav class="menu">
                    <ul>
                        <%= content_tag(:li, (link_to "Мероприятия", events_path), class: ('active' if controller?("events"))) %>
                        <%= content_tag(:li, (link_to "Новости", articles_path), class: ('active' if controller?("articles"))) %>
                        <%= content_tag(:li, (link_to "Документы", documents_path), class: ('active' if controller?("documents"))) %>
                        <%= content_tag(:li, (link_to "Локальные ресурсы", local_resources_path), class: ('active' if controller?("local_resources"))) %>
                        <%= content_tag(:li, (link_to "Анкетирование", surveys_path), class: ('active' if controller?("surveys"))) %>
                        <%= content_tag(:li, (link_to "Вопросы и ответы", frequent_questions_path), class: ('active' if controller?("frequent_questions"))) %>
                        <%= content_tag(:li, (link_to "Контакты", contacts_path), class: ('active' if controller?("contacts"))) %>
                    </ul>
                </nav>

                <a data-reveal-id="myModal" href="#" class="login">Войти</a>


            </div>
        </div>
    </header>

    <div class="slider">
        <div class="flicker-example" data-block-text="false">

            <ul>

                <li data-background="/images/slid2.jpg">
                    <div class="flick-title">олимпиады<br> и конкурсы<br> санкт-петербурга
                </li>

                <li data-background="/images/slid2.jpg">
                                        <div class="flick-title">олимпиады<br> и конкурсы<br> санкт-петербурга

                </li>

                <li data-background="/images/slid2.jpg">
                                       <div class="flick-title">олимпиады<br> и конкурсы<br> санкт-петербурга

                </li>

            </ul>
        </div>
    </div>
    <div class="container">
        <div class="content">


            <div class="calendar">
                <div class="calendar_head">

                    <div class="calendar_sub">
                      <%= link_to "Календарь мероприятий", events_path %>
                    </div>
                    <ul id="nav">
                        <li>
                            <%= link_to "2015 год", params.merge({:year => 2015}), remote: true  %>
                            <ul>
                                <% years_list.each do |year| %>
                                  <%= content_tag(:li, (link_to "#{year} год", params.merge({:year => year}), remote: true)) %>
                                <% end %>
                            </ul>
                        </li>

                    </ul>
                    </li>
                    </ul>
                    <div class="calendar_search">
                        <form action="" class="search" method="post">
                            <input class="input" name="" placeholder="Поиск по сайту" type="search">
                            <input class="submit" name="" type="submit" value="">
                            <button>Найти</button>
                        </form>
                    </div>
                </div>
                <div id="tab_block">
                    <ul id="tabs">
                        <li id="tab1" class="tab active" onclick="funcTab(1);">Январь</li>
                        <li id="tab2" class="tab" onclick="funcTab(2);">Февраль</li>
                        <li id="tab3" class="tab" onclick="funcTab(3);">Март</li>
                        <li id="tab4" class="tab" onclick="funcTab(4);">Апрель</li>
                        <li id="tab5" class="tab" onclick="funcTab(5);">Май</li>
                        <li id="tab6" class="tab" onclick="funcTab(6);">Июнь</li>
                        <li id="tab7" class="tab" onclick="funcTab(7);">Июль</li>
                        <li id="tab8" class="tab" onclick="funcTab(8);">Август</li>
                        <li id="tab9" class="tab" onclick="funcTab(9);">Сентябрь</li>
                        <li id="tab10" class="tab" onclick="funcTab(10);">Октбярь</li>
                        <li id="tab11" class="tab" onclick="funcTab(11);">Ноябрь</li>
                        <li id="tab12" class="tab" onclick="funcTab(12);">Декабрь</li>
                    </ul>
                    <div id="tabs_content">
                      <%= render 'home/tabs_content' %>
                    </div>
                </div>





                <div class="categories">
                    <div class="category_one olimp1">

                        <a href="#">Олимпиада<br> РСОШ</a>
                    </div>


                    <div class="category_one olimp2">

                        <a href="#">Региональные олимпиады</a>
                    </div>

                    <div class="category_one olimp3">

                        <a href="#">Всероссийская олимпиада</a>
                    </div>


                    <div class="category_one olimp4">

                        <a href="#">Научная деятельность</a>
                    </div>
                </div>

                <div class="additional_links">
                    <div class="additional_link doc">
                        <p class="additional_doc"><%= link_to "Документы", documents_path %></p>
                        <% @documents.each do |document| %>
                          <p class="additional_doc_link">
                            <%= link_to document.title, document.document_file.url %>
                          </p>
                        <% end %>
                    </div>

                    <div class="additional_link">
                        <p class="additional_news"><%= link_to "Новости", articles_path %></p>
                        <% @articles.each do |article| %>
                          <p class="additional_news_link">
                              <%= link_to article.title, article %>
                              <span><%= date(article.date, "%d %B %Y")%>г.</span>
                          </p>
                        <% end %>
                    </div>

                    <div class="additional_link">
                        <p class="additional_quest"><%= link_to "Анкетирование", surveys_path %></p>
                        <% @surveys.each do |survey| %>
                          <p class="additional_quest_link">
                            <%= link_to survey.title, survey %>
                          </p>
                        <% end %>
                    </div>
                </div>

            </div>

        </div>
        <div class="container">
            <div class="local">
                <h4><%= link_to "Локальные ресурсы", local_resources_path %></h4>

                <div class="owl-carousel">
                  <% @local_resources.each do |resource| %>
                    <div class="item"><%= image_tag resource.image.url(:front) %></div>
                  <% end %>
                </div>
            </div>
        </div>

        <%= render 'shared/footer' %>
        <%= render 'shared/login_popup' %>

        <script>
            $(document).ready(function() {
                $('.owl-carousel').owlCarousel({
                    loop:true,
                    margin:10,
                    nav:true,
                   autoplay:true,
                    autoplayTimeout:5000,
                    responsive:{

                        1000:{
                            items:4
                        }
                    }
                    });
                $('.flicker-example').flicker();
            });
        </script>