<%= render 'shared/header' %>

 <div class="container">
     <div class="breadcrumbs "> <a href="/">Главная</a> / <span>Мероприятия</span></div>
 </div>


 <div class="container">
     <h1 class="calendar">Мероприятия</h1>
     <ul class="calendar_year">
        <% years_list.each do |year| %>
          <%= content_tag(:li, (link_to year, params.merge({:year => year})), class: ('active' if year==Time.now.year.to_s)) %>
        <% end %>
     </ul>

     <ul class="calendar_moon">
        <% month_list.to_enum.with_index(1).each do |month, i| %>
          <%= content_tag(:li, (link_to month, params.merge({:month => i})), class: ('active' if i==Time.now.month)) %>
        <% end %>
     </ul>




     <div class="top_content">
      <%  @events_by_month.each do |month, events| %>
         <div class="<%= calendar_content_class(month) %>">
             <h2><%= date(month, "%B") %></h2>

            <% events.group_by(&:start_date).each do |date, events|  %>
            <div class="<%= calendar_day_class(date) %>">

                <div class="calendar_date">
                  <p><%= date(date, "%d %B") %></p>
                </div>

                <div class="calendar_name">
                  <% events.each do |event| %>
                    <p><%= link_to event.title %></p>
                    <span>Длительность: <%= date(event.start_date, "%d %B") %></span>
                  <% end %>
                </div>

                <div class="calendar_category">
                  <% events.each do |event| %>
                    <% event.subjects.each do |subject| %>
                    <p><%= subject.title %></p>
                    <% end %>
                  <% end %>
                </div>

            </div>
          <% end %>


         </div>

         <hr>
      <% end %>

     </div>


     <div class="right_sidebar">
         <div class="quest_filter">
             <p class="filter_name">Олимпиады</p>
             <form id="events_categories_filter_form" method="get">
               <% @categories.each do |category| %>
               <p>
                   <%= check_box_tag "category_ids[]", category.id.to_s, @category_ids.include?(category.id.to_s), id: category.id, class: 'checkbox category' %>
                   <%= label_tag category.id.to_s, category.title %>
               </p>
               <% end %>
               <% if params[:year] %>
                 <%= hidden_field_tag :year, params[:year] %>
               <% end %>
               <% if params[:month] %>
                 <%= hidden_field_tag :month, params[:month] %>
               <% end %>
             </form>

             <p class="filter_name two">Предметы</p>
             <form id="events_subjects_filter_form" method="get">
               <% @subjects.each do |subject| %>
               <p>
                   <%= check_box_tag "subject_ids[]", subject.id.to_s, @subject_ids.include?(subject.id.to_s), id: subject.id, class: 'checkbox subject' %>
                   <%= label_tag subject.id.to_s, subject.title %>
               </p>
               <% end %>
               <% if params[:category_ids] %>
                 <%= hidden_field_tag :category_ids, params[:category_ids] %>
               <% end %>
               <% if params[:year] %>
                 <%= hidden_field_tag :year, params[:year] %>
               <% end %>
               <% if params[:month] %>
                 <%= hidden_field_tag :month, params[:month] %>
               <% end %>
             </form>
             <p>
                 <input type="submit" id="event_filter_form_reset" class="button" value="Сбросить значения фильтра" />
             </p>

         </div>


     </div>



 </div>
<%= render 'shared/footer' %>
<%= render 'shared/login_popup' %>