<%= render 'shared/header' %>
<div class="container">
    <div class="breadcrumbs "> <a href="/">Главная</a> / <span>Анкетирование</span></div>
</div>
<div class="container">
    <h1>Анкетирование</h1>
    <div class="top_content">
        <div class="questionnaires">
            <% @surverys.each do |survey| %>
              <div class="ques_block">
                  <div class="quest_one">
                      <% if survey.finished? %>
                        <%= link_to survey.question, survey, class: "quest complete" %>
                        <span class="complete_img"><img src="/images/complete.png"></span>
                      <% else %>
                        <%= link_to survey.question, survey, class: "quest" %>
                      <% end %>
                      <p>
                        <span>
                          <%= survery_options_plural(survey.survey_options.count) %>
                        </span>
                      </p>
                  </div>
                  <div class="quest_result">
                      <p><span>Проголосовало: 0 человек</span></p>
                      <p><span>Дата окончания: <%= date(survey.end_date, "%d %B %Y") %></span></p>
                  </div>
              </div>
            <% end %>
        </div>
    </div>
</div>
<%= render 'shared/footer' %>
<%= render 'shared/login_popup' %>